<footer class="bg-gray-950 text-gray-400 py-10">

    <div class="max-w-6xl mx-auto px-10 text-center">

        <h2 class="text-3xl font-bold text-white">
            Adesh Sharma
        </h2>

        <p class="mt-4">
            Django Backend Developer
        </p>

        <div class="mt-6 flex justify-center gap-6 text-lg">

            <a href="https://github.com/eddyhub404" class="hover:text-white"  target="_blank">
                GitHub
            </a>

            <a href="https://www.linkedin.com/in/adesh-sharma-66360a159/?skipRedirect=true"  target="_blank">
                LinkedIn
            </a>

            <a href="mailto:adeshsharma@gmail.com"
   target="_blank"
   class="hover:text-white transition">
   Email
</a>

        </div>

        <p class="mt-8 text-sm text-gray-500">
            © 2026 Adesh Sharma. All rights reserved.
        </p>

    </div>

</footer>