{% load static %}
<nav class="flex justify-between items-center px-10 py-6 text-white absolute top-0 w-full z-50">

  <a href="/" title="EddyHub">
    <img 
        src="{% static 'images/logo.png' %}" 
        alt="logo"
        class="w-14 h-14 object-contain"
        
    >
</a>

    <ul class="flex gap-10 text-xl">

    <li>
        <a href="/">Home</a>
    </li>

    <li>
        <a href="/#about">About</a>
        
    </li>

    <li>
        <a href="/projects/">Projects</a>
    </li>

    <li>
        <a href="/contact/">Contact</a>
    </li>

</ul>

<button 
    disabled
    class="bg-purple-700 px-5 py-2 rounded-xl opacity-50 cursor-not-allowed"
>
  Resume (Coming Soon)  
</button>



</nav>