{% extends "base.html" %}
{% load static %}

{% block content %}

{% comment %} HERO SECTION {% endcomment %}

<section class="min-h-screen bg-gradient-to-r from-indigo-900 via-purple-900 to-gray-900 text-white flex items-center justify-center">

    <div class="text-center">

        <h1 class="text-7xl font-bold">
            Hi, I'm Adesh
        </h1>

        <p class="mt-6 text-3xl text-gray-300">
            Django Backend Developer
        </p>

        <button class="mt-8 px-8 py-4 bg-purple-600 rounded-xl hover:bg-purple-700 text-xl">
            View Projects
        </button>

    </div>

</section>

<section id="about" class="bg-black text-white py-32 px-10">

    <h2 class="text-5xl font-bold">
        About Me
    </h2>
<p class="mt-8 text-gray-400 text-xl max-w-3xl leading-relaxed">

    I am a passionate Django backend developer currently learning modern web development. 
    I enjoy building scalable applications using Python, Django, PostgreSQL and modern frontend technologies.

</p>
<div class="mt-10 flex gap-4 flex-wrap">

    <span class="bg-purple-700 px-5 py-2 rounded-full">
        Python
    </span>

    <span class="bg-purple-700 px-5 py-2 rounded-full">
        Django
    </span>

    <span class="bg-purple-700 px-5 py-2 rounded-full">
        PostgreSQL
    </span>

    <span class="bg-purple-700 px-5 py-2 rounded-full">
        Tailwind CSS
    </span>

    <span class="bg-purple-700 px-5 py-2 rounded-full">
        Git & GitHub
    </span>

</div>
</section>



{% endblock %}