{% extends "base.html" %}
{% block title %}
  Projects
{% endblock %}
{% block content %}



<section class="min-h-screen bg-black text-white py-32 px-10">

  <h1 class="text-5xl font-bold text-center mb-16">
    My Projects
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 max-w-7xl mx-auto">

    <div class="bg-gray-900 p-8 rounded-2xl border border-gray-700 hover:border-purple-500 transition">
      <h2 class="text-2xl font-bold mb-4">Portfolio Website</h2>
      <p class="text-gray-400 mb-6">Django + Tailwind portfolio project.</p>
      <a href="/" class="text-purple-400 hover:text-purple-300">View Project</a>
    </div>

    <div class="bg-gray-900 p-8 rounded-2xl border border-gray-700">
  <h2 class="text-2xl font-bold mb-4">Django TODO App</h2>
  <p class="text-gray-400">
    A basic CRUD TODO application built using Django, PostgreSQL, Bootstrap, and dynamic URL routing.
  </p>
  <a href="https://django-todo-app-ekum.onrender.com/"
     target="_blank"
     class="text-purple-400 hover:text-purple-300">
    View Live Project
  </a>
</div>

    <div class="bg-gray-900 p-8 rounded-2xl border border-gray-700">
      <h2 class="text-2xl font-bold mb-4">Ecommerce</h2>
      <p class="text-gray-400">Upcoming Project</p>
    </div>

    <div class="bg-gray-900 p-8 rounded-2xl border border-gray-700">
      <h2 class="text-2xl font-bold mb-4">Blog App</h2>
      <p class="text-gray-400">Upcoming Project</p>
    </div>

  </div>

</section>

{% endblock %}